# -------------------------------------------------
# Python
# -------------------------------------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution
build/
dist/
*.egg-info/

# -------------------------------------------------
# Virtual environment
# -------------------------------------------------

venv/

# -------------------------------------------------
# Database
# -------------------------------------------------

data/*.db*
data/*.sqlite
data/*.sqlite3

# Backup databases
backups/*.db*
backups/*.sqlite
backups/*.sqlite3

# -------------------------------------------------
# Logs
# -------------------------------------------------

logs/*.log

# -------------------------------------------------
# Local configuration
# -------------------------------------------------

.env
instance/

# -------------------------------------------------
# IDE
# -------------------------------------------------

.vscode/
.idea/

# -------------------------------------------------
# Operating System
# -------------------------------------------------

.DS_Store
Thumbs.db

data/*.bak
